<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><a style="color: whitesmoke; font-size: large; text-decoration: none; " href="/">♡ Make life eaiser</a></p>
      </div>
        <ul class="nav navbar-nav navbar-right" >
          <!-- 6 -->
          <li id="home"><a style="color: whitesmoke; font-size: large;" href="/home">Home</a></li>
          <li id="about"><a style="color: whitesmoke; font-size: large;" href="/work">Work</a></li>
          <li id="about"><a style="color: whitesmoke; font-size: large;" href="/school">School</a></li>
          <li id="contact"><a style="color: whitesmoke; font-size: large;" href="/college">College</a></li>
        </ul>
    </div>
  </nav>

</head>

<body>
